<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Yuping Ke</h1>
            <hr>
            <p>Hi, I'm a <strong>sound designer</strong> and <strong>audio programmer</strong> with a background in games, film, and music. Proficient in Wwise, Unity, Unreal Engine, and major DAWs, I focus on shaping experiences and narratives through sound, whether it's crafting immersive soundscapes or designing impactful SFX.</p>
            <a href="#showreel" class="btn btn-primary btn-xl page-scroll">My Showreel</a>
        </div>
    </div>
</header>
