<section id="showreel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Showreel</h2>
                <hr class="primary">
                <div class="video-wrapper">
                    <iframe 
                        src="https://www.youtube.com/embed/你的视频ID" 
                        title="Showreel" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
